@import "bourbon";
@import "neat";

$mobile: new-breakpoint(min-width 680px);

@font-face {
font-family: AkkuratRegular;
src: url("fonts/AkkuratRegular.otf") format("opentype");
}

html, body {
  position: relative;
  font-family: AkkuratRegular, helvetica, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  @include outer-container;
  text-align: center;
    .main-logo {
      @include span-columns(12);
    }
}

.main-section {
  @include outer-container;
  height:50%;
    #about,
    #work,
    #contact {
      @include span-columns(12);
      margin-bottom: 25px;
      color: #fffff9;
      position: relative;
      display: table;
      text-align: center;
      height: 100%;
      @include media($mobile) {
        @include span-columns(4);
        display: inline-table;
      }
        .main-section-text {
          vertical-align: middle;
          display: table-cell;
          position: relative;
        }
  }
}

#about {
  background-color: #D2786C;
}
#work {
  background-color: #D2956C;
}
#contact {
  background-color: #44857A;
}

#intro {
  @include span-columns(12);
}


// animations


.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


.ui-view-container {
  position: relative;
  height: 100%;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(800px, 0, 0);
}
