
    <div id="about" class="hvr-grow">
      <div class="main-section-text">
        <a ui-sref="about">
          <h4>ABOUT</h4>
          <img src="images/coffeeicon.png" alt="">
        </a>
      </div>
    </div>
    <div id="work" class="hvr-grow">
      <div class="main-section-text">
      <a ui-sref="work">
        <h4>WORK</h4>
        <img src="images/work.png" alt="">
      </a>
      </div>
    </div>
    <div id="contact" class="hvr-grow">
      <div class="main-section-text">
      <a ui-sref="contact">
        <h4>CONTACT</h4>
        <img src="images/contact.png" alt="">
      </a>
      </div>
    </div>
