
<a ui-sref="home">home</a>
<br/>
<div class="container">
  <div class="article-img">
      <img src="./images/placehold.jpg" alt="">
  </div>
  <div class="article-header">
    <header>
        <h2>git repo 1 click me to get here</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis harum, ipsam quisquam animi at quam adipisci tenetur modi perferendis, alias, eaque laborum quas pariatur fugiat quo hic sapiente corporis?</p>
  </div>
</div>

<div class="container">
  <div class="article-img">
      <img src="./images/placehold.jpg" alt="">
  </div>
  <div class="article-header">
    <header>
        <h2>git repo 1 click me to get here</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis harum, ipsam quisquam animi at quam adipisci tenetur modi perferendis, alias, eaque laborum quas pariatur fugiat quo hic sapiente corporis?</p>
  </div>
</div>