
<div class="outer">
    <div class="container">
        <div class="git-content">
        <div class="article-header">
            <header>
                <h2>WYA-App</h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis harum, ipsam quisquam animi at quam adipisci tenetur modi perferendis, alias, eaque laborum quas pariatur fugiat quo hic sapiente corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cum nam, nulla minima. Sapiente exercitationem, vitae enim. Assumenda nihil ullam alias molestiae necessitatibus cumque cum! In velit nesciunt consectetur, asperiores.</p>
        </div>  
        </div>
    </div>
    <div class="container">
        <div class="git-content">
        <div class="article-header">
            <header>
                <h2>Waitstaff Calculator</h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis harum, ipsam quisquam animi at quam adipisci tenetur modi perferendis, alias, eaque laborum quas pariatur fugiat quo hic sapiente corporis?</p>
        </div>  
        </div>
    </div>
</div>

<div class="outer">
    <div class="container">
        <div class="git-content">
        <div class="article-header">
            <header>
                <h2>Angular Madlibs Project</h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis harum, ipsam quisquam animi at quam adipisci tenetur modi perferendis, alias, eaque laborum quas pariatur fugiat quo hic sapiente corporis?</p>
        </div>  
        </div>
    </div>
    <div class="container">
        <div class="git-content">
        <div class="article-header">
            <header>
                <h2>Waitstaff Calculator</h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis harum, ipsam quisquam animi at quam adipisci tenetur modi perferendis, alias, eaque laborum quas pariatur fugiat quo hic sapiente corporis?</p>
        </div>  
        </div>
    </div>
</div>

<div class="outer">
    <div class="container">
        <div class="git-content">
        <div class="article-header">
            <header>
                <h2>Waitstaff Calculator</h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis harum, ipsam quisquam animi at quam adipisci tenetur modi perferendis, alias, eaque laborum quas pariatur fugiat quo hic sapiente corporis?</p>
        </div>  
        </div>
    </div>
    <div class="container">
        <div class="git-content">
        <div class="article-header">
            <header>
                <h2>Waitstaff Calculator</h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis harum, ipsam quisquam animi at quam adipisci tenetur modi perferendis, alias, eaque laborum quas pariatur fugiat quo hic sapiente corporis?</p>
        </div>  
        </div>
    </div>
</div>

